[submodule "devopsstack-sonar"]
	path = devopsstack-sonar
	url = https://github.com/Pirat83/devopsstack-sonar.git
[submodule "devopsstack-nexus"]
	path = devopsstack-nexus
	url = https://github.com/Pirat83/devopsstack-nexus.git
[submodule "devopsstack-jenkins"]
	path = devopsstack-jenkins
	url = https://github.com/Pirat83/devopsstack-jenkins.git
[submodule "devopsstack-jira"]
	path = devopsstack-jira
	url = https://github.com/Pirat83/devopsstack-jira.git
